<article class="col-md-3 articles">
  <div class="entry-post">
    <div class="entry-sommary">
      <a href="<%=memoire_path(memoire)%>">
        <header class="entry-header"r>
          <div class="entry-meta">
            <span class="entry-date"><%= memoire.option.filiere.diplome.nom %></span>
            <span class="entry-category"> <%= memoire.option.filiere.nom %> / <%= memoire.option.nom %></span>
          </div>
          <h2 class="entry-title wrap-description"><%= link_to "#{memoire.theme}", memoire %></h2>
        </header>
      </a>
    </div>
    <div class="entry-like">
      <%= memoire.created_at.strftime "%d/%m/%Y" %>
      <div class="" style="float: right;">
        <a href="<%= like_memoire_path(memoire) %>" class="like-memo" style="" title="J'aime" data-toggle="tooltip">
          <span class="fa fa-heart like">
            <strong style="color: #543729; font-size: 18px;"><%= memoire.likes.count %></strong>
          </span>
        </a>
      </div>
    </div>
    <div class="entry-meta">
      <span class="entry-name"><%= memoire.auteur %></span>
      <div class="">
        <%= link_to 'Télécharger', download_memoire_path(memoire), :class=> 'btn btn-primary color btn-xs' %>
        <%= link_to 'Lire', memoire, :class=> 'btn btn-success color btn-xs' %>
        <span class="" aria-hidden="true"><%= memoire.view_number %> vues</span>
      </div>
    </div>
  </div>
</article>
