<%= render 'layouts/header_content' %>
<%= flash[:alert] %>

<div class="container-fluid">
	<div class="row" id="contenter">
		<!-- <div class="col-md-2" id="filter">
			<div class="">
				<p class="filters">Filtrer</p>
				<%= form_tag root_path, :method => 'get', :class=> "form-margin", id: "mrh" do %>
				<% @diplomes.each_with_index do |diplome, index|%>
				<div class="diplomes panel-group">
					<div class="diplome panel panel-default">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#diplomes-<%=index%>">
								<span> <%= diplome.nom %> </span>
								(<span class="memoire-number"><%= diplome.count_memoires %></span>)
							</a>
						</div>

						<div class="panel-collapse collapse" id="diplomes-<%=index%>">
							<div class="panel-body">
								<% diplome.filieres.each_with_index do |filiere, index|%>
								<a class="filiere" data-toggle="collapse" data-parent="#accordion" href="#filieres-<%=index%>">
									<span> <%= filiere.nom %> </span>
									(<span class="memoire-number"><%= filiere.count_memoires %></span>)
								</a><br>
								<div class="panel-collapse collapse" id="filieres-<%=index%>">
									<% filiere.options.each do |option|%>
									<p class="option">
										<input type="checkbox" name="options[]" value="<%= option.id %>" id="" class="enquiry">
										<span class="option-name"> <%= option.nom %> </span>
										(<span class="memoire-number"><%= option.count_memoires %></span>)
									</p>
									<% end %>
								</div>
								<% end %>
							</div>
						</div>

					</div>
				</div>
				<% end %>
				<div class="" id="search-memoire">
					<button type="submit" name="button" class="btn btn-lg btn-primary btn-block">Rechercher</button>
				</div>
				<% end %>
			</div>
		</div> -->
		<div class="col-md-12 all-filter">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#home">Plus récents</a></li>
				<li><a href="#votes">Plus votés</a></li>
				<li><a href="#top">Plus populaires</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<% @memoires.each do |memoire| %>
					<%= render partial: 'main/memoire_template', locals: {memoire: memoire}%>
					<% end %>
				</div>
				<div class="tab-pane" id="votes">
					<% Memoire.plus_voter.each do |plus_vote|%>
						<%= render partial: 'main/memoire_template', locals: {memoire: plus_vote}%>
					<% end %>
				</div>

				<div class="tab-pane" id="top">
					<% Memoire.top_memoires.each do |top_memoire| %>
						<%= render partial: 'main/memoire_template', locals: {memoire: top_memoire}%>
					<% end %>
				</div>
			</div>
		</div>
		<div class="paginate-memoires">
			<%= paginate @memoires %>
		</div>
	</div>

	<div class="clearfix"></div>
</div>

<script type="text/javascript">
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});
	$('[data-toggle="tooltip"]').tooltip();
</script>
