<div class="row" style="background-image: url(assets/map-image.png);">
	<div class="page-padding">
		<div class="col-md-6 col-md-offset-3 page-bottom">
			<h2 class="">Nous contacter</h2>
			<hr style="width: 200px;" class="page-bottom">
			<h4 class="page-bottom">
				Pour toutes vos inquiétudes merci de remplir le formulire ci-dessous.
			</h4>
	    <form action="MAILTO:memoire.contacts@gmail.com" method="post" enctype="text/plain">
	      <div class="row">
	        <div class="form-group col-md-12">
						<label for="nom">Nom Complet</label>
						<input type="text" name="nom" value="" class="form-control" required placeholder="Votre nom et prénom" value="Votre nom Complet"
						  oninvalid="setCustomValidity('Veuillez saisir votre nom svp')" onchange="try{setCustomValidity('')}catch(e){}">
	        </div>
	        <div class="form-group col-md-12">
						<label for="email">Email</label>
						<input type="email" name="email" value="" class="form-control" required placeholder="Votre adresse email">
	        </div>
					<div class="form-group col-md-12">
	          <label for="message">Votre message</label>
						<textarea name="message" rows="8" cols="40" class="form-control" required placeholder="Votre message ou votre inquiétude ici." value="Votre message"
							oninvalid="setCustomValidity('Veuillez saisir votre message svp')" onchange="try{setCustomValidity('')}catch(e){}"></textarea>
	        </div>
	        <div class="form-group col-md-12">
						<input type="submit" name="name" value="Envoyer" class="btn btn-custom btn-block btn-lg">
	        </div>
	      </div>
			</form>
	  </div>
	</div>
</div>
