<%= render 'layouts/search_header' %>
<%= flash[:alert] %>

<div class="container-fluid">
	<div class="row" id="filts">
		<div class="col-md-12">
			<div class="col-md-2" id="filter0">
				<div class="">
					<a data-toggle="collapse" data-parent="#accordion" href=".tt0">
						<p class="filters">Diplômes</p>
					</a>
					<%= form_tag recherche_path, :method => 'get', :class=> "", id: "search-filts" do %>
						<div class="toto">
							<% @diplomes.each_with_index do |diplome, index|%>
								<div class="panel-collapse collapse tt0">
									<div class="diplomes">
										<span>
											<input type="checkbox" name="diplomes[]" value="<%= diplome.id %>" id="" class="enquiry">
											<span> <%= diplome.nom %> </span>
											(<span class="memoire-number"><%= diplome.count_memoires %></span>)
										</span>
									</div>
								</div>
							<% end %>
						</div>
				</div>
			</div>
			<div class="col-md-2" id="filter1">
				<div class="">
					<a data-toggle="collapse" data-parent="#accordion" href=".tt1">
						<p class="filters">Filières</p>
					</a>
					<div class="toto">
						<% @filieres.each_with_index do |filiere, index|%>
							<div class="panel-collapse collapse tt1">
								<div class="diplomes">
									<span>
										<input type="checkbox" name="filieres[]" value="<%= filiere.id %>" id="" class="enquiry" />
										<span> <%= filiere.nom %> </span>
										(<span class="memoire-number"><%= filiere.count_memoires %></span>)
									</span>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-2" id="filter2">
				<div class="">
					<a data-toggle="collapse" data-parent="#accordion" href=".tt2">
						<p class="filters">Options</p>
					</a>
						<div class="toto">
							<% @options.each_with_index do |option, index|%>
								<div class="panel-collapse collapse tt2">
									<div class="diplomes">
										<span>
											<input type="checkbox" name="options[]" value="<%= option.id %>" id="" class="enquiry">
											<span> <%= option.nom %> </span>
											(<span class="memoire-number"><%= option.count_memoires %></span>)
										</span>
									</div>
								</div>
							<% end %>
						</div>
				</div>
			</div>
			<div class="col-md-2" id="filter3">
				<div class="">
					<a data-toggle="collapse" data-parent="#accordion" href=".tt3">
						<p class="filters">Années</p>
					</a>
						<div class="toto">
							<% @annees.each do |annee|%>
								<div class="panel-collapse collapse tt3">
									<div class="diplomes">
										<span>
											<input type="checkbox" name="annees[]" value="<%= annee[0] %>" id="" class="enquiry">
											<span> <%= annee[0] %> </span>
											(<span class="memoire-number"><%= annee[1] %></span>)
										</span>
									</div>
								</div>
							<% end %>
						</div>
				</div>
			</div>
			<div class="col-md-3" id="filter4">
				<div class="">
					<a data-toggle="collapse" data-parent="#accordion" href=".tt4">
						<p class="filters">Universités</p>
					</a>
						<div class="toto">
							<% @ecoles.each do |ecole|%>
								<div class="panel-collapse collapse tt4">
									<div class="diplomes">
										<span>
											<input type="checkbox" name="ecoles[]" value="<%= ecole[0] %>" id="" class="enquiry">
											<span> <%= ecole[0] %> </span>
											(<span class="memoire-number"><%= ecole[1] %></span>)
										</span>
									</div>
								</div>
							<% end %>
						</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 all-filter">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#home">Plus récents</a></li>
				<li><a href="#votes">Plus votés</a></li>
				<li><a href="#top">Plus populaires</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<% @memoires.each do |memoire| %>
					<%= render partial: 'main/memoire_template', locals: {memoire: memoire}%>
					<% end %>
				</div>
				<div class="tab-pane" id="votes">
					<% Memoire.plus_voter.each do |plus_vote|%>
						<%= render partial: 'main/memoire_template', locals: {memoire: plus_vote}%>
					<% end %>
				</div>

				<div class="tab-pane" id="top">
					<% Memoire.top_memoires.each do |top_memoire| %>
						<%= render partial: 'main/memoire_template', locals: {memoire: top_memoire}%>
					<% end %>
				</div>
			</div>
		</div>
		<div class="paginate-memoires">
			<%= paginate @memoires %>
		</div>
	</div>

	<div class="clearfix"></div>
</div>

<script type="text/javascript">
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});
	$('[data-toggle="tooltip"]').tooltip();

	var t = $('input.enquiry');
	t.click( function(e) {
		$('#search-filts').submit();
	});


</script>
