<%= div_for(comment) do %>
<strong class="comment-time">Il y a <%= time_ago_in_words(comment.created_at) %></strong><br>
  <p class="comment-text">
    <strong style="color: #8a6d3b;"><%= h(comment.user.nom) %> <%= h(comment.user.prenom) %>:</strong> <%= h(comment.body) %>
  </p>
<% end %>
