<div class="page-padding">
  <div class="col-md-4">
      <h2 class="sert">Pourquoi publier un mémoire ?</h2>
       <div class="row num">
         <span class="numerotation pull-left">1</span>
         <div class="text-style">
            Favoriser votre recherche d’emploi
         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">2</span>
         <div class="text-style">
           Vous faire connaitre dans votre domaine spécifique de compétence
         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">3</span>
         <div class="text-style">
           <a href="http://www.scuilt.com">Scuilt</a> permet une diffusion très large de votre mémoire
         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">4</span>
         <div class="text-style">
             Aider d'autres etudiants à mieux rediger leurs memoires
         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">5</span>
         <div class="text-style">
           La publication de <a href="http://www.scuilt.com">Scuilt</a> est totalement gratuite, simple et rapide à rechercher.

         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">6</span>
         <div class="text-style">
           Il y a donc un grand potentiel et un fort intérêt à publier son mémoire sur <a href="http://www.scuilt.com">Scuilt</a>
         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">7</span>
         <div class="text-style">
           Avoir la possibilité d'avoir des interractions par raport à vos mémoires sur <a href="http://www.scuilt.com">Scuilt</a>
         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">8</span>
         <div class="text-style">
           Enrichir vos profils sur les réseaux sociaux ( Facebook, Twitter…) en partageant vos travaux
         </div>
       </div>
       <div class="row num">
         <span class="numerotation pull-left">9</span>
         <div class="text-style">
           Participer à la révolution Internet du « partage des connaissances » initiée par Wikipédia
         </div>
       </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" id="log-form">
      <div class="panel-body">
        <%= link_to "<i class='fa fa-facebook'></i> | Se connecter avec Facebook".html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-facebook btn-lg", target: "_blanck" %>
        <h2>OU</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label 'Votre adresse mail' %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          <div class="form-group">
            <%= f.label 'Votre mot de passe' %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <span>Retenir mot de passe</span>
                <%= f.check_box :remember_me, class: "remember_me" %>
              </div>
              <% end %>
          <div class="form-group">
            <%= f.submit "Connexion", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
        Mot de passe oublié ? <%= link_to('(Clickez ici)', new_password_path(resource_name), class: "small") %>
        <p class="text-center">
          <h4 class="text-center light">Vous n'avez pas encore de compte ?</h4>
          <%= link_to "Créer un compte", new_registration_path(resource_name), class: "btn btn-block btn-custom btn-lg" %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <h2 class="sert">Les étapes de publication</h2>
      <span class="text-style"><a href="http://www.scuilt.com">Scuilt</a> vous guide à travers les 3 étapes ci-dessous. Tout au long du processus d’édition, notre équipe éditoriale reste à votre écoute pour répondre à vos questions et vous accompagner.</span> <br><br>

      <div class="row num">
        <span class="numerotation pull-left">1</span>
        <div class="text-style">
          Avoir un compte sur <a href="http://www.scuilt.com">Scuilt</a>
        </div>
      </div>

      <div class="row num">
        <span class="numerotation pull-left">2</span>
        <div class="text-style">
          Rassurer vous que votre memoire est en format PDF
        </div>
      </div>

      <div class="row num">
        <span class="numerotation pull-left">3</span>
        <div class="text-style">
          Uploader votre fichier
        </div>
      </div>
  </div>
</div>
