<div class="page-padding">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(@memoire) do |f| %>
        <h2 style="font-weight: 200;">Créer un nouveau mémoire.</h2>
        <hr>
          <% if @memoire.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@memoire.errors.count, "error") %> prohibited this memoire from being saved:</h2>
              <ul>
                <% @memoire.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="form-group col-md-6">
              <%= f.label :thème %>
              <%= f.text_field :theme, :required => true, class: 'form-control' %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :binome, "Le nom de votre binome" %> (<small>Facultatif</small>)
              <%= f.text_field :binome, class: 'form-control' %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :auteur %>
              <%= f.text_field :auteur, :required => true, class: 'form-control' %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :Université %>
              <%= f.text_field :ecole, :required => true, class: 'form-control' %>
            </div>

            <div class="form-group col-md-6">
              <%= label_tag :option, 'Sélectionner un dipôme' %>
              <%= f.select(:option_id, nil, {}, {class: "form-control"}) do %>
                <% options_array = Option.all.map { |option| ["#{option.filiere.diplome.nom} / #{option.filiere.nom} / #{option.nom}", option.id] } %>
                <%= options_for_select(options_array) %>
              <% end %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :Année %>
              <%= f.select(:annee, [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], {}, :class => 'form-control')%>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :maitre, "Encadreur" %> (<small>Le nom de votre maitre mémoire</small>)
              <%= f.text_field :maitre, required: true, class: 'form-control'%>
            </div>

            <div class="f">
              <%= f.hidden_field :email, required: true, class: 'form-control' %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :fichier %>
              <%= f.file_field :fichier, :required => true, class: 'form-control' %>
            </div>

            <div class="form-group col-md-12">
              <%= f.submit 'Publier', class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
