<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offsert-1">
      <%= link_to '<i class="fa fa-angle-left"></i> Retour'.html_safe, memoires_path, class: "btn btn-custom page-margin" %>
    </div>
  </div>
</div>
<%= render 'edit_form' %>
