<div class="container-fluid">
  <div class="curuser-mem-title">
    <h1>Mes mémoires</h1>
  </div>
  <div class="col-md-12">
    <div class="header">
        <%= form_tag memoires_path, :method => 'get', class: "form-inline text-right search-form" do %>
          <div class="form-group has-feedback">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Saisir un mot clé" %>
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        <% end %>
        <%= link_to new_memoire_path, class: 'btn btn-primary curuser-new-mem' do %>
          <i class="fa fa-plus-circle"></i> Nouveau mémoire
        <% end %>
      </div>
    <div class="" style="margin-top:50px;">
      <% @memoires.each do |memoire| %>
        <article class="col-md-3 articles">
          <div class="entry-post">
            <div class="entry-sommary">
              <header class="entry-header"r>
                <div class="entry-meta">
                  <span class="entry-date"><%= memoire.option.filiere.diplome.nom %></span>
                  <span class="entry-category"> <%= memoire.option.filiere.nom %> / <%= memoire.option.nom %></span>
                </div>
                <h2 class="entry-title"><%= link_to "#{memoire.theme}", memoire %></h2>
              </header>
             </div>
            <div class="entry-like">
              <%= memoire.created_at.strftime "%d/%m/%Y" %>
              <div class="" style="float: right;">
                <a href="<%= like_memoire_path(memoire) %>" class="" style="" title="J'aime" data-toggle="tooltip">
                  <span class="fa fa-heart like">
                    <strong style="color: #543729; font-size: 18px;"><%= memoire.likes.count %></strong>
                  </span>
                </a>
              </div>
            </div>
            <div class="entry-meta">
              <%= link_to 'Télécharger', download_memoire_path(memoire), :class=> 'btn btn-primary color btn-xs' %>
              <%= link_to 'Lire'.html_safe, memoire, :class=> 'btn btn-success color btn-xs' %>
              <% if can? :update, memoire %>
                <%= link_to 'Modifier'.html_safe, edit_memoire_path(memoire), :class=> 'btn btn-warning color btn-xs' %>
                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, memoire, method: :delete, data: { confirm: 'En êtes-vous sûr de vouloir supprimer ce mémoire ?' }, :class=> 'btn btn-danger color btn-xs' %>
              <% end %>
              <span class="" aria-hidden="true"><%= memoire.view_number %> vues</span>
            </div>
          </div>
        </article>
      <% end %>
    </div>

    <div class="paginate-curuser-mem">
      <%= paginate @memoires %>
    </div>
  </div>
</div>

<script type="text/javascript">

	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});

	$('[data-toggle="tooltip"]').tooltip();

	$(document).ready(ready);
	$(document).on("page:load", ready);

</script>
