<div class="" id="read">
    <div class="col-md-12">
      <div class="title-bottom">
        <h2 class="theme-title">Thème: <%= @memoire.theme %></h2>
      </div>
    </div>

      <div class="row">
        <div class="col-md-9">
          <div class="content">
            <iframe src="/pdfjs/web/viewer.html?file=<%= @memoire.fichier.url %>" style="border: 0" width="100%" height="1000"></iframe></br>
          </div>
        </div>
        <div class="col-md-3 memoire-desc">
          <%= render "layouts/memoires/infos" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <%= simple_form_for [@memoire, Comment.new] do |f| %>
            <p>
              <%= f.input :body, :label => "Laisser un commentaire", as: :text, input_html: {rows: "3"} %>
            </p>
            <p>
              <%= f.submit :Commenter, :label => "Add Comment", class: "btn btn-primary" %>
            </p>
          <% end %>
          <h3 class="comment-list">Liste des commentaires</h3>
          <div class="" id="comments">
            <%= render partial: @memoire.comments %>
          </div>
        </div>
      </div>
</div>
