<div class="row" style="background-image: url(assets/map-image.png);">
	<div class="page-padding">
		<div class="col-md-6 col-md-offset-3 page-bottom">
			<h2 class="">Nous contacter</h2>
			<hr style="width: 200px; margin-bottom: 50px;">
			<h4 class="contact-text">
				Pour toutes vos inquiétudes merci de remplir le formulire ci-dessous.
			</h4>
      <%= simple_form_for(@contact) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="form-group col-md-12">
            <%= f.label "Nom Complet" %>
            <%= f.text_field :full_name, :required => true, class: 'form-control', placeholder: "Votre nom et prénom" %>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :email %>
            <%= f.text_field :email, :required => true, class: 'form-control', placeholder: "Votre adresse mail" %>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :message %>
            <%= f.text_area :message, :required => true, class: 'form-control', placeholder: "Veuillez saisir votre message ici", :rows=> 6 %>
          </div>

          <div class="form-group col-md-12">
            <%= f.submit 'Envoyer', class: 'btn btn-custom btn-lg' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
