<div class="panel panel-default people-profile">
  <div class="cards card-user">
    <div class="image">
      <h2 class="inf-aut">Infos sur l'auteur</h2>
      <img src="https://s3-us-west-2.amazonaws.com/memoireapp/background-1.jpeg" alt="..." style="width: 445px;">
    </div>
    <div class="content">
      <div class="author">
        <a href="#">
          <img class="avatar border-gray" src="https://s3-us-west-2.amazonaws.com/memoireapp/scuilt_cask.png" alt="...">

          <h4 class="title"><%= @memoire.auteur %><br>
            <small style="text-transform: initial;"><%= @memoire.user.email%></small>
          </h4>
        </a>
      </div>
      <p class="description text-center"> "Diplômé en <%= @memoire.user.diplome%><br>
        <%= @memoire.option.filiere.nom %>" à <%= @memoire.user.universite%>. <br>
        <span class="fa fa-phone"></span> <%= @memoire.user.contact%>

      </p>
      <div class="list-group-item">
        <div class="">
          <p class="description">
          Encadreur: <%= @memoire.maitre %> <br>
          Année de soutenance: <%= @memoire.annee %> <br>
          Vues: <%= @memoire.view_number %> fois <br>
          Partager sur <span class="fa fa-hand-o-right"></span>
            <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/dialog/feed?app_id=184683071273&link=https%3A%2F%2Fscuilt.com&picture=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fmemoireapp%2Fscuilt_cask.png&name=Thème: #{@memoire.theme}&caption=%20&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F", :class=> 'memoire_socials', target: "_blank" %>
            ou <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "https://twitter.com/home?status=#{@memoire.theme}&hashtags=memoireapp&via=memoireapp&url=http://www.scuilt.com", :class=> 'memoire_socials', target: "_blank" %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% if can? :update, @memoire %>
            <div class="card">
              <%= link_to 'Nouveau Memoire', new_memoire_path, :class=> "btn btn-primary" %>
              <%= link_to 'Modifier mémoire', edit_memoire_path(@memoire), :class=> "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
</div>
