<div class="page-padding">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="panel-header-text">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

        <%= f.submit "Change my password", class: 'btn btn-primary' %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
