<div class="page-padding">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default marg-top">
      <div class="panel-body">
	        <h2 class="panel-header-text">Mot de passe oublié ?</h2>
          <hr>
        	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        	  <%= devise_error_messages! %>
            <div class="form-group">
        	    <%= f.label :email %>
        	    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
        	    <%= f.submit "Réinitialiser mot de passe", class: 'btn btn-primary btn-block btn-lg' %>
            </div>
        	<% end %>

          <p class="text-center">
          <h4 class="text-center light">Je m'en souviens</h4>
          <%= link_to "Me connecter", new_session_path(resource_name), class: "btn btn-block btn-custom btn-lg" %>
          </p>
      </div>
    </div>
  </div>
</div>
