@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
  color: #777;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-top: 90px;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-top: 9px;
  text-decoration: none;
}

/* footer */

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
  position:fixed;
  bottom:0;
  width:83%;
  height: 40px;
  font-family: Tahoma, Arial;
  font-size: 0.9em;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #777;
}

footer small {
  float: left;
}

#foot {
  margin: 0 20px;
}


ul.socials li {
  margin-left: 10px;
  border-radius: 50%;
}

.navbar-fixed-top {

  .navbar-brand {
    width: 25%;

    img {
      display: inline;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    i {
      color: rgba(153, 155, 155, 0.5);
      font-size: 18px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  background-color: #555;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

li:hover {
  background-color: #eaeaea;
}

.header-content {
  min-height: 240px;
  width: 100%;
  background: #583526 url('https://s3-us-west-2.amazonaws.com/memoireapp/background-1.jpeg') no-repeat center center;
  background-size: cover;
  margin: -10px 0 20px 0;
}

.search-header-content {
  min-height: 110px;
  width: 100%;
  background: #583526;
  margin: -10px 0 20px 0;
}

.search-header-content .container #container .row>h1, .search-header-content .container #container .row>h2 {
  float: left;
  text-align: -webkit-auto;
  padding: 0;
}
.welcome-note-1 {
  color: #fff;
  font-size: 3.2em;
  font-weight: 200;
}

#filts {
  margin-top: 30px;
  margin-bottom: 30px;
}

.welcome-note-2 {
  color: #fff;
  padding-right: 125px;
  padding-left: 125px;
  line-height: 1.4;
  font-size: 19px;
  font-family: sans-serif;
  margin-top: 0px;
}

a {
  color: #543729 !important;
}

a:hover, a:focus {
  color: #543729 !important;
}

.navbar-default {
  background-color: rgb(247, 200, 39) !important;
  border-color: #e7e7e7 !important;
}

a.text-color {
  color: rgb(247, 200, 39) !important;
}

a.text-color:hover, a.text-color:focus {
  color: #EF5734 !important;
}

.btn-primary {
    color: #543729 !important;
    background-color: rgb(247, 200, 39) !important;
    border-color: rgb(247, 200, 39) !important;
}
.btn-prim {
    color: #fff !important;
    background-color: rgb(247, 200, 39) !important;
    border-color: rgb(247, 200, 39) !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: rgb(247, 200, 39) !important;
    border-color: rgb(247, 200, 39) !important;
}

.entry-post {
  font-size: 1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
  background: #fff;
}

.entry-sommary {
  font-size: 1em;
  font-weight: 300;
  padding: 0 15px;
}

.entry-header {
  margin: 0 0 15px;
}

.entry-header .entry-meta {
  font-size: 0.9em;
  padding: 10px 0;
  border: none;
}

.entry-date {
  font-size: 0.9em;
  text-transform: uppercase;
}

.entry-category {
  display: inline-block;
  float: right;
}

.entry-header h2 {
  font-size: 1.2em;
  line-height: 1.3em;
}

.entry-meta {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  font-size: 0.75em;
  text-align: right;
  bottom: 0px !important;
  margin-top: 10px;
}

.entry-date {
  font-size: 0.9em;
  text-transform: uppercase;
  float: left;
}

.entry-category {
  display: inline-block;
  float: right;
}

.articles {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #777777;
}

.clearfix {
  height: 50px;
}

.entry-name {
  float: left;
}

.alert {
  background-color: rgba(14, 167, 41, 0.82);
  color: #fff;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.alert-danger {
  background-color: rgba(247, 25, 0, 0.82);
  color: #fff;
}

#container {
  padding: 20px 0;
}

#search-header {
  padding: 20px 0;
}

.form-atributes {
  height: 50px !important;
}

.search-control {
  height: 60px !important;
}

.logo {
  position: absolute;
  top: 10px;
}

.navbar-fixed-top .navbar-brand img {
  width: 180px;
  height: initial;
}

.entry-post:hover {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#ccc));
}
@media (min-width: 768px){
  .navbar-nav.navbar-right:last-child {
    margin-right: 10px !important;
  }
}


.entry-title {
  text-align: -webkit-auto;
}

.card {
  padding: 20px 0 0;
  margin-left: 10px;
}

.panel-padding {
  padding: 10px;
}

.footer {
  border-top: 1px solid #eeeeee;
  background: #eee url(/assets/background-image.png) !important;
  // height: 150px !important;
  padding:  10px;
}

ul.socials {
  font-size: 22px;
  display: inline-flex;
  list-style: none;
  float: right;
}

a.facebook, a.twitter, a.google {
  color: #fff;
  width: 40px;
  border-radius: 50%;
  text-align: -webkit-center;
  height: 40px;
  padding-top: 5px;
  display: block;
  background-color: rgb(247, 200, 39) !important;
}

.btn-xs:hover, .btn-xs:focus {
  color: #fff !important;
}

li.facebook,a.facebook {
  background-color: rgb(247, 200, 39) !important;
}

a.facebook:hover {
  background-color: #3b5998 !important;
}

a.twitter:hover {
  background-color: #55acee !important;
}

a.google:hover {
  background-color: #dd4b39 !important;
}

li.nav-menu-items {
  line-height: 2;
}

.panel-header-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #543729;
  padding: 15px;
  font-weight: 200;
}

.panel-body-text {
  margin: 0 0 27px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.panel-footer-btn {
  background: rgb(254, 205, 39);
}

.pagination > .active > a, .pagination > .active > a:hover {
  background-color: rgb(247, 200, 39) !important;
  border-color: rgb(247, 200, 39) !important;
}

.text-center {
  margin-top: 50px;
}

.light {
  font-weight: 300;
}

.btn-custom {
  background-color: #543729;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: rgba(84, 55, 41, 0.76) !important;
  color: #fff !important;
}

.remember_me {
  width: 20px;
}

.btn-danger {
  background-color: #D82607 !important;
}

.text-danger {
  color: #D82607 !important;
}

.form-margin {
  margin-top: 10px;
}

.user_picture {
  border-radius: 50%;
  width: 40px;
}

.panel-heading {
  padding: 5px 10px !important;
}

.media-left {
  margin: 20px;
}

.media {
  display: -webkit-box;
}

.media-body {
  margin: 20px 5px;
}

.page-padding {
  padding: 10px;
}

.page-margin {
  margin: 50px;
}

.form-control:focus {
  border-color: rgb(247, 200, 39) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(84, 55, 41) !important;
}

.page-bottom {
  margin-bottom:50px;
}

.contact-page {
  font-weight: 200;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container-fluid {
  min-height: 700px;
}

.flash-messages:hover {
  background-color: transparent;
  border: 0px;
}

.alert-error {
  background-color: #c9302c;
  border-color: #eed3d7;
  color: #fff;
  text-align: left;
 }

.alert-danger {
  background-color: #D50000 !important;
  border-color: #ce2618;
  color: #fff !important;
  text-align: left;
 }

.alert-success {
  background-color: rgb(46, 204, 113) !important;
  width: auto;
  text-align: -webkit-center;
  color: #fff !important;
 }

 h1, h2 {
   font-weight: 300 !important;
 }

.active {
  background-color: #eaeaea;
}

.title-bottom {
  margin-bottom: 20px;
}

.wrap-description {
  font-size: 1em;
  display: -webkit-box;
  max-width: 330px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  float: left;
}

.media-heading {
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
}

.memoire_socials {
  padding: 5px;
  font-size: 20px;
}

.color {
  color: #fff !important;
}

.btn-facebook {
  background-color: #4267b2;
  color: #fff !important;
  margin: 10px 0;
}

.btn-facebook:hover {
  background-color: #2b54a9;
  color: #fff !important;
}

.or {
  text-align: center;
  font-weight: 300;
  color: gray;
  width: 30px;
  position: absolute;
  margin: 10px 310px;
}

.left-line {
  width: 300px;
  float: left;
}

.right-line {
  width: 300px;
  float: right;
}

.clear {
  height: 50px;
}

.clear-top {
  margin-top: 20px;
}

.like {
  color: rgb(247, 200, 39);
  font-size: 22px !important;
  border-radius: 5px;
  padding: 2px;
}

#filter0, #filter1, #filter2, #filter3, #filter4 {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  margin: 0 5px;
  padding: 0;
}

.filters {
  border-bottom: 1px solid #ddd;
  padding: 3px 0 0;
  text-align: center;
  font-size: 22px;
  background-color: #e7e7e7;
  margin: 0;
}

#contenter {
  margin-left: 0px;
}

.filt {
  font-weight: 300;
}

.memoire-number {
  color: #a94442;
}

.enquiry {
  width: 10px;
}

.order {
  padding: 5px;
  background-color: #eee;
}

.like:hover {
  color: #c9302c;
  transform: scale(1.4);
}


.diplome {
  margin-bottom: 0px;
}

.filiere {
  margin-bottom: 0px;
}

.option {
  margin-bottom: 0px;
  font-size: 12px;
  line-height: inherit;
}

.diplomes {
  margin: 10px 0px;
}

#read {
  padding: 0 15px;
}

.theme-title-left {
  text-align: center;
  margin: 50px 0 0;
}

#search-memoire {
  margin: 10px 0;
}

.tab-content > .active {
  border: none !important;
}

.nav-tabs {
  border-bottom: 1px solid #ccc !important;
}

.nav-tabs > li > a {
  margin-right: 0px !important;
}

.paginate-memoires {
  float: right;
  margin-right: 13px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background: #cea80f !important;
}

.pagination {
  margin-right: 16px !important;
}

label {
  font-size: 15px !important;
  margin-bottom: 10px !important;
  font-weight: 400 !important;
}

input.form-control {
  height: 50px !important;
}

#log-form {
  margin-top: 20px;
}

span.numerotation {
    border: 1px solid #fff;
    padding: 8px 12px;
    margin: 0 10px;
    background-color: rgb(247, 200, 39);
}

.num {
  margin: 10px 0 !important;
}

.sert {
  margin-bottom: 50px;
}

.text-style {
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
}

.process {
  margin: 20px 0 !important;
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
  display: inline-flex;
}

.light {
  text-align: center;
}

.marg-top {
  margin-top: 30px !important;
}

.entry-like {
  padding: 0 15px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px !important;
  font-weight: 300 !important;
}

::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}

:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}

:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.copy{
  line-height: 2.7;
  margin-bottom: 0;
}

#u_0_3 {
  color: #fff !important;
}

.fb-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  background-color: #fff;
}

.comment-text {
  width: 900px;
  border: 1px solid #fff;
  background: #eee;
  padding: 5px;
  margin-bottom: 30px;
}

.comment-time {
  border: 1px solid;
  border-bottom: 0;
  padding: 5px 5px 0;
  border-radius: 5px 5px 0 0;
}

.comment-list {
  font-weight: 300;
  margin-bottom: 30px;
}

.paginate-curuser-mem {
  margin-left: 15px;
}

.curuser-mem-title {
  margin: 50px;
}

.search-form {
  float: right ;
}

.form-control-feedback {
    padding: 15px 0;
    font-size: 20px !important;
}

.dropdown-menu > li > a {
  padding: 8px 20px !important;
}

.dropdown-menu {
  width: 226px;
}

.contact-text {
  font-weight: 300;
  font-size: 22px;
}

.advantage {
  padding: 10px;
}

.inf-aut {
  position: absolute;
    color: #fff;
    margin-left: 30px;
}

.inf-cur-user {
  position: absolute;
  color: #fff;
}

.toto {
  max-height: 110px;
  overflow: scroll;
  padding: 0 20px;
}

input#search_parm {
  height: 60px !important;
  line-height: 30px;
  padding: 10px 15px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding: 25px 15px !important;
    font-size: 16px;
  }
}

@media (max-width: 768px){
  ul.socials {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .copy {
    text-align: center !important;
  }
  .logo {
    width: 120px !important;
  }

  .sert {
    margin-bottom: 20px !important;
  }

  ul.socials {
    margin-left: 80px !important;
  }

  .welcome-note-2 {
    padding: 0 20px !important;
  }

  .search-input {
    margin-bottom: 30px !important;
  }

  #filter {
    margin-right: 20px !important;
  }

  .fb-container {
    margin: 20px 100px 0 !important;
  }

  .all-filter {
    margin-top: 30px !important;
  }

  .active {
    background: none !important;
  }

  .welcome-note-1 {
    font-size: 40px !important;
  }

  ul.nav.navbar-nav.main-menu {
    font-size: 20px !important;
    font-weight: 300 !important;
  }

  li.dropdown, li.dropdown.open, ul.dropdown-menu, ul.nav.navbar-nav.main-menu {
    text-align: center !important;
  }

  .comment-text {
    width: inherit !important;
  }

  .memoire-desc {
    margin-top: 30px !important;
  }

  ul#myTab {
    font-size: 12px !important;
    display: -webkit-box !important;
  }

  .search-form {
    float: left !important;
    margin-left: 23% !important;
  }

  .curuser-mem-title {
    margin: 0 !important;
  }

  .form-control-feedback {
    top: 0px !important;
    right: 8px !important;
    font-size: 20px !important;
  }

  .curuser-new-mem {
    margin-left: 29% !important;
  }
}

@media (min-width: 412px) {
  .search-form {
    margin-left: 25% !important;
  }
}
