// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cards {
  border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card-user .image {
      height: 170px !important;
}

.cards .image {
  width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-user .content {
    min-height: 240px;
}

.cards .content {
    padding: 15px 15px 10px 15px;
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
}
.cards .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-user .avatar.border-gray {
    border-color: #EEEEEE;
}
.card-user .avatar {
    width: 124px !important;
    height: 124px !important;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
}
.cards .avatar {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card-user .title {
    line-height: 24px;
}

.cards .title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}

.cards .description {
  margin-top: 0;
    font-size: 14px;
    color: #333;
}

.btn-simple {
    border: 0;
    font-size: 16px;
    padding: 8px 16px;
}

.page-pad {
  padding: 10px 30px;
  background-color: #eee;
}

#u_0_3, #u_0_4 {
  display: none !important;
}

select.form-control {
  height: 50px !important;
}

.like-memo:hover {
  -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
     -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
         transform: scale(1.5);
}

.like-memo {
  -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
     -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
      -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
         transition: all .5s cubic-bezier( .6, 2, .4, 1);
}

span#u_0_4 {
  display: none !important;
}

td._51m-._2pir._51mw {
  display: none !important;
}
