<div class="footer">
  <div id="foot">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <p class="copy">&copy; 2016 <a href="http://www.scuilt.com" class="text-danger">Scuilt</a>. Tous drois réservés. <%= link_to "Contact", new_contact_path, :class=>'nav-menu-items' %></p>
      </div>
      <div class="col-sm-6 col-md-3 col-md-offset-2">
        <%if user_signed_in? %>
          <%= link_to "Publier un mémoire", new_memoire_path, class: 'btn btn-custom btn-sm', style: 'margin-top: 10px;' %>
        <%else%>
          <%= link_to "Publier un mémoire", new_user_session_path, class: 'btn btn-custom btn-sm', style: 'margin-top: 10px;' %>
        <%end%>
        <ul class="socials">
          <li class="facebook">
            <a href="https://www.facebook.com/MemoireApp" style="color: #fff !important;" class="facebook" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/memoireapp" style="color: #fff !important;" class="twitter" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="google">
            <a href="https://plus.google.com/u/1/" style="color: #fff !important;" class="google" target="_blank">
              <i class="fa fa-google"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
