<header class="navbar navbar-fixed-top navbar-default header">
  <nav>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span class="navbar-brand"><%= image_tag("scuilt.png", :alt => "", class: "logo") %></span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  	  <ul class="nav navbar-nav navbar-right">
  	    <% if user_signed_in? %>
          <ul class="nav navbar-nav main-menu">
            <li class="<%= 'active' if current_page?(recherche_path) %>"><%= link_to "Recherche avancée", recherche_path, :class=>'nav-menu-items' %></li>
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Mémoires disponibles", root_path, :class=>'nav-menu-items' %></li>
            <li class="<%= 'active' if current_page?(memoires_path) %>"><%= link_to "Mes mémoires", memoires_path, :class=>'nav-menu-items' %></li>
            <li class="<%= 'active' if current_page?(new_memoire_path) %>"><%= link_to "Publier un mémoire", new_memoire_path, :class=>'nav-menu-items' %></li>
          </ul>
  	      <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=current_user.email%><b class="caret"></b>
            </a>
  	        <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Paramètres", new_user_password_path(:user) %></li>
              <li><%= link_to "Déconnexion", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <ul class="nav navbar-nav main-menu">
            <li class="<%= 'active' if current_page?(recherche_path) %>"><%= link_to "Recherche avancée", recherche_path, :class=>'nav-menu-items' %></li>
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Mémoires disponibles", root_path, :class=>'nav-menu-items' %></li>
          </ul>
        <% end %>
  	  </ul>
    </div>
  </nav>
</header>
