<div class="header-content">
  <div class="container">
    <div id="container">
      <div class="row">
        <h1 class="welcome-note-1">Partagez facilement et simplement vos mémoires</h1>
        <h2 class="welcome-note-2">
          Vous possédez un mémoire et vous aimeriez le publier mais vous ne connaissez pas la procédure à suivre ?
          Scuilt est là pour vous guider. Très simple, rapide et gratuit.
        </h2>
      </div>

        <div class="row search-input">
          <div class="col-md-6 col-md-offset-5">
            <%if user_signed_in? %>
              <%= link_to "Publier un mémoire", new_memoire_path, class: 'btn btn-default btn-lg', style: 'margin-top: 10px;' %>
            <%else%>
              <%= link_to "Publier un mémoire", new_user_session_path, class: 'btn btn-default btn-lg', style: 'margin-top: 10px;' %>
            <%end%>
          </div>
        </div>
      </div>
  </div>
</div>
