<div class="search-header-content">
  <div class="container">
    <div id="container">
      <div class="row">

        <div class="col-md-6 search-input col-md-offset-3">
          <h1 class="welcome-note-1" style="margin-bottom: 20px;">Filtrer selon vos besoins</h1>
          <%= form_tag recherche_path, :method => 'get', :class=> "form-margin" do %>
            <div class="input-group">
              <%= text_field_tag :search_parm, params[:search], placeholder: "Rechercher parmi plus de 1000 mémoires", :class=> "form-control search-control"%>
              <span class="input-group-btn search-control">
                <%= button_tag(type: "submit", class: "btn btn-prim search-control") do %>
                  <i class="fa fa-search" style="font-size: 28px;"></i>
                <% end %>
              </span>
            </div>
          <% end %>
          <!-- <div class="col-md-2 fb-container"></div> -->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
