<div class="page-pad">
  <h2 style="text-align: left;">Mon profile</h2>
  <div class="col-md-6 col-md-offset-1">
    <div class="panel panel-default marg-top">
      <div class="panel-body">
        <h2 class="panel-header-text">Modifier mon compte</h2>
        <hr>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
            <div class="col-md-4 form-group">
              <%= f.label :nom %>
              <%= f.text_field :nom, autofocus: true, placeholder: true, required: true, class: "form-control" %>
            </div>
            <div class="col-md-4 form-group">
              <%= f.label :prenom, "Prénom" %>
              <%= f.text_field :prenom, placeholder: true, class: "form-control" %>
            </div>
            <div class="col-md-4 form-group">
              <%= f.label :email %>
              <%= f.text_field :email, autofocus: true, placeholder: true, required: true, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 form-group">
              <%= f.label :diplome, "Diplôme obtenu" %>
              <%= f.text_field :diplome, autofocus: true, placeholder: true, required: true, class: "form-control" %>
            </div>
            <div class="col-md-4">
              <%= f.label :filiere, "Filière" %>
              <%= f.text_field :filiere, placeholder: true, required: true, class: "form-control" %>
            </div>
            <div class="col-md-4 form-group">
              <%= f.label :universite, "Université" %>
              <%= f.text_field :universite, autofocus: true, placeholder: true, required: true, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.label :contact %>
              <%= f.text_field :contact, placeholder: true, required: true, class: "form-control" %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :profession %>
              <%= f.text_field :profession, placeholder: true, class: "form-control" %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group">
            <%= f.label :password, "Nouveau mot de passe" %> <i>(Laissez le champ vide si vous ne voulez pas le changer)</i>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmer votre nouveau mot de passe" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :current_password, "Mot de passe actuel" %> <i>(Veuillez saisir votre mot de passe actuel)</i>
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %></br>
          </div>
          <div class="col-md-6">
            <%= f.submit "Modifier", class: 'btn btn-primary btn-lg' %>
            <%= link_to "Annuler les modifications", memoires_path, class: "small" %>
          </div>
        <% end %>
        <div class="col-md-6">
          <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte ?" }, method: :delete, class: 'btn btn-danger btn-lg' %>
          <h4 class="light">Mécontent ? Supprimer mon compte</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 marg-top">
    <div class="cards card-user">
      <div class="image">
        <h2 class="inf-cur-user">Ces informations seront affichées sur tous vos mémoires.</h2>
        <img src="https://s3-us-west-2.amazonaws.com/memoireapp/background-1.jpeg" alt="..." style="width: 445px;">
      </div>
      <div class="content">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="https://s3-us-west-2.amazonaws.com/memoireapp/scuilt_cask.png" alt="...">

            <h4 class="title"><%=current_user.prenom%> <%=current_user.nom%><br>
              <small style="text-transform: initial;"><%=current_user.email%></small>
            </h4>
          </a>
        </div>
        <p class="description text-center"> "Diplômé en <%=current_user.diplome%><br>
          <%=current_user.filiere%>" à <%=current_user.universite%>. <br>
          <span class="fa fa-phone"></span> <%=current_user.contact%>
        </p>
      </div>
    </div>
  </div>
</div>
