<div class="advantage">
  <h2>Contribuer à la recherche accadémique en partageant vos mémoires sur Scuilt.</h2>
</div>
<div class="page-padding">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "<i class='fa fa-facebook'></i> | Se connecter avec Facebook".html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-facebook btn-lg" %>
        <div class="clear-top">
          <h4 class="or">OU</h4>
          <hr class="left-line"><hr class="right-line">
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="clear"></div>
            <div class="row">
              <div class="col-md-4 form-group">
                <%= f.label :nom %>
                <%= f.text_field :nom, autofocus: true, placeholder: true, required: true, class: "form-control" %>
              </div>
              <div class="col-md-4 form-group">
                <%= f.label :prenom, "Prénom" %>
                <%= f.text_field :prenom, placeholder: true, class: "form-control" %>
              </div>
              <div class="col-md-4 form-group">
                <%= f.label :email %>
                <%= f.text_field :email, autofocus: true, placeholder: true, required: true, class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 form-group">
                <%= f.label :diplome, "Diplôme obtenu" %>
                <%= f.text_field :diplome, autofocus: true, placeholder: true, required: true, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :filiere, "Filière" %>
                <%= f.text_field :filiere, placeholder: true, required: true, class: "form-control" %>
              </div>
              <div class="col-md-4 form-group">
                <%= f.label :universite, "Université" %>
                <%= f.text_field :universite, autofocus: true, placeholder: true, required: true, class: "form-control" %>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6 form-group">
                <%= f.label :contact %>
                <%= f.text_field :contact, placeholder: true, required: true, class: "form-control" %>
              </div>
              <div class="col-md-6 form-group">
                <%= f.label :profession %>
                <%= f.text_field :profession, placeholder: true, required: true, class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <%= f.label :password, "Mot de passe" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> charactères au minimum)</em>
                <% end %>
                <%= f.password_field :password, placeholder: true, autocomplete: "off", class: 'form-control' %>
              </div>
              <div class="col-md-6 form-group">
                <%= f.label :password_confirmation, "Confirmer mot de passe" %><br />
                <%= f.password_field :password_confirmation, placeholder: true, autocomplete: "off", class: 'form-control' %></br>
              </div>
            </div>
            <%= f.submit "S'inscrire", class: 'btn btn-primary btn-block btn-lg' %>
        <% end %>

        <p class="text-center">
          <h4 class="text-center light">Vous avez déjà compte ?</h4>
          <%= link_to "Se connecter", new_session_path(resource_name), class: "btn btn-block btn-custom btn-lg" %>
        </p>
      </div>
    </div>
  </div>
</div>
